.clients {
    padding-top: var(--section-pt);
    padding-bottom: var(--section-pb);
}

.clients .title {
    margin-bottom: 50px;
}

.clients-list {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.clients-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 90px;
    border: 1px solid hsl(227, 6%, 70%);
    border-radius: 4px;
    color: var(--sprite-fill);

    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover,
.clients-link:focus {
    border: 1px solid var(--accent-color);
    color: var(--accent-color);
}

.clients-icon {
    fill: currentColor;
}