.header .logo {
    margin-right: 93px;
    padding-top: 24px;
    padding-bottom: 25px;
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
    animation-duration: 1000ms;
}

.logo-part-top {
    color: #000000;
}

.footer .logo {
    display: block;
    margin-bottom: 20px;
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
}

.logo-part-bottom {
    color: #FFFFFF;
}